# Virtual environments
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/*

# Generated PNGs and SVGs
outputs/

# Build
dist/
build/
*.egg-info/

# Type Checking
.mypy_cache/
.pytype/